@model TelevisionModelWebApp.Models.ExternalDeviceModel

@{
    ViewData["Title"] = "Screencast";
}
@if (TempData["InfoMessage"] != null)
{
<div id="alert" class="alert alert-info alert-dismissible alert-fade custom-alert position-fixed" style="top: -10px; right: 10px; z-index: 1050;" role="alert">
    @TempData["InfoMessage"]
    <button type="button" class="close btn btn-close" data-dismiss="alert" aria-label="Close">
    </button>
</div>
}

<div class="text-center">

    <div class="navbar-expand-lg" style="margin-top: 30px">
        <a asp-controller="Television" asp-action="TurnOff">
            <button type="button" class="btn btn-dark">Power</button>
        </a>
        <a asp-controller="Television" asp-action="MainMenu">
            <button type="button" class="btn btn-dark">Main menu</button>
        </a>
        <a asp-controller="Television" asp-action="Streaming">
            <button type="button" class="btn btn-dark">Streaming</button>
        </a>
        <a asp-controller="Television" asp-action="TelevisionBroadcast">
            <button type="button" class="btn btn-dark">Television broadcast</button>
        </a>
    </div>
    <div class="container" style="margin-top: 30px">
        <h5>@ViewData["Title"]</h5>
        @if (Model.Device.Name != "None")
        {
            <p>Connected device: @Model.Device.Name</p>
        }
    </div>
    <div class="container mt-5 d-flex justify-content-center align-items-center" style="margin-top: 30px">
        <form asp-action="Screencast" method="post">
            <div class="container justify-content-center">
                <h5>Connect to a new device:</h5>
                <input name="newDeviceName" type="text" class="form-control" placeholder="@Model.Device.Name" style="width: 200px; margin-right: 20px; margin-left: 20px; background: #1a1e21; color: white">
            </div>
            <div class="container" style="margin-top: 15px">
                <button type="submit" class="btn btn-dark" style="margin: 5px">Connect</button>
                @if (Model.Device.Name != "None")
                {
                    <a asp-controller="Television" asp-action="Disconnect">
                        <button type="button" class="btn btn-danger" style="margin: 5px">Disconnect</button>
                    </a>
                }
            </div>
        </form>
    </div>
    <div class="container mt-5 d-flex align-items-center" style="margin-top: 30px">
        <form class="container" asp-action="EditVolume" method="post">
            <h5>Edit volume (current volume: @Model.Specifications.CurrentVolume%): </h5>
            <input type="text" name="currentView" style="display:none" value="Screencast">
            <input name="newVolume" type="range" class="form-range" id="volumeRange" min="0" max="100" value="@Model.Specifications.CurrentVolume" style="width: 200px; margin-right: 20px; margin-left: 20px; background: #1a1e21">
            <button type="submit" class="btn btn-dark">Update</button>
        </form>
    </div>
</div>