@model TelevisionModel.Content.TelevisionSeries

@{
    ViewData["Title"] = "Streaming";
}

<div class="text-center">

    <div class="navbar-expand-lg" style="margin-top: 30px">
        <a asp-controller="Television" asp-action="TurnOff">
            <button type="button" class="btn btn-dark">Power</button>
        </a>
        <button type="button" class="btn btn-dark">Change volume</button>
        <a asp-controller="Television" asp-action="Next">
            <button type="button" class="btn btn-dark">Next</button>
        </a>
        <a asp-controller="Television" asp-action="Previous">
            <button type="button" class="btn btn-dark">Previous</button>
        </a>
        <a asp-controller="Television" asp-action="MainMenu">
            <button type="button" class="btn btn-dark">Main menu</button>
        </a>
        <a asp-controller="Television" asp-action="TelevisionBroadcast">
            <button type="button" class="btn btn-dark">Television broadcast</button>
        </a>
        <button type="button" class="btn btn-dark">Screencast</button>
    </div>

    <div class="container mt-5">
        <div class="tv-screen">
            <h4 style="color: white; margin-top: 10px; font-size: 25px">@ViewData["Title"]</h4>
            <div class="streaming-container">
                <div class="left">
                    <h5>@Model.Name</h5>
                    <img src="@Model.ImageUrl" alt="Television series image"/>
                    <a href="@Model.Url">
                        <button type="button" class="btn btn-dark left-container-button">View page</button>
                    </a>
                </div>
                <div class="right">
                    @Html.Raw(Model.Summary)
                </div>
            </div>
        </div>
    </div>
</div>